<!-- 

     <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
     <link href="assets/css/menu.css" rel="stylesheet" type="text/css" />
     <link href="assets/css/core.css" rel="stylesheet" type="text/css" />
     <link href="assets/css/components.css" rel="stylesheet" type="text/css" />
     <link href="assets/css/icons.css" rel="stylesheet" type="text/css" />
     <link href="assets/css/pages.css" rel="stylesheet" type="text/css" />
     <link href="assets/css/responsive.css" rel="stylesheet" type="text/css" /> -->
{% import 'macros/flash.html' as flash with context %}
{% extends 'layouts/app.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Dashboard{% endblock %}

{% block body %}

<!-- <body class="fixed-left"> -->
<div class="fixed-left">
  <!-- Begin page -->
  <!-- Begin page -->
  <div id="wrapper">

    {% include 'quant/page/side-menu.html' %}

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
      <!-- Start content -->
      <div class="content">
	<div class="container">
          {{ flash.render() }}
	  <!-- Page-Title -->
          <div class="row">
            <div class="col-sm-12">
              <h4 class="page-title">Form elements</h4>
            </div>
          </div>


          <!-- Forms -->
          <div class="row">
            <div class="col-sm-12">
              <div class="card-box">
                <div class="row">
                  <div class="col-md-9">
                    <h4 class="m-t-0 header-title"><b>Basic example</b></h4>
                    <p class="text-muted m-b-30 font-13">
                      Individual form controls automatically receive some global styling. All textual <code>&lt;input&gt;</code>,
                      <code>&lt;textarea&gt;</code>, and <code>&lt;select&gt;</code> elements with <code>.form-control</code> are set to
                      <code>width: 100%;</code> by default. Wrap labels and controls in <code>.form-group</code> for optimum spacing.
                    </p>

                    <form class="form-horizontal" role="form" method="post">
                      {{ form.hidden_tag() }}
                      <div class="form-group">
                        <label for="num-round" class="col-sm-3 control-label">Number of Trees</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="num-round" value="100" name="num-round" placeholder="{{ form.description }}">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="max-depth" class="col-sm-3 control-label">Max Tree Depth</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="max-depth" value="3" name="max-depth" placeholder="How deep?">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="eta" class="col-sm-3 control-label">Learning Rate</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="eta" value="0.1" name="eta" placeholder="How fast?">
                        </div>
                      </div>                      
                      <div class="col-sm-offset-3 col-sm-9">
                        <button type="submit" class="btn btn-custom waves-effect waves-light">Submit</button>
                      </div>
                    </form>
                    
                  </div><!-- end col -->

                  <!-- <div class="col-md-6">
                    <h4 class="m-t-0 header-title"><b>Horizontal form</b></h4>
                    <p class="text-muted m-b-30 font-13">
                      Use Bootstrap's predefined grid classes to align labels and groups of form controls in a horizontal layout by adding
                      <code>.form-horizontal</code> to the form (which doesn't have to be a <code>&lt;form&gt;</code>). Doing so changes
                      <code>.form-group</code>s to behave as grid rows, so no need for <code>.row</code>.
                    </p>

                    <form class="form-horizontal" role="form" method="post">
                      {{ form.hidden_tag() }}
                      <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Email</label>
                        <div class="col-sm-9">
                          <input type="email" class="form-control" id="inputEmail3" name="email2" placeholder="Email">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputPassword3" class="col-sm-3 control-label">Password</label>
                        <div class="col-sm-9">
                          <input type="password" class="form-control" id="inputPassword3" name="password" placeholder="Password">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputPassword4" class="col-sm-3 control-label">Re Password</label>
                        <div class="col-sm-9">
                          <input type="password" class="form-control" id="inputPassword4" name="repassword" placeholder="Retype Password">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                          <div class="checkbox checkbox-primary">
                            <input id="checkbox2" type="checkbox">
                            <label for="checkbox2">
                              Check me out !
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group m-b-0">
                        <div class="col-sm-offset-3 col-sm-9">
                          <button type="submit" class="btn btn-info waves-effect waves-light">Sign in</button>
                        </div>
                      </div>
                    </form>
                  </div> --><!-- end col -->
                </div><!-- end row -->
              </div>
            </div><!-- end col -->
          </div>
          <!-- end row -->


        </div> <!-- container -->

      </div> <!-- content -->


    </div>
    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->



    
  </div>
  <!-- END wrapper -->

  <script>
    var resizefunc = [];
  </script>

  <!-- jQuery  -->
  <!-- <script src="assets/js/jquery.min.js"></script>
       <script src="assets/js/bootstrap.min.js"></script>
       <script src="assets/js/detect.js"></script>
       <script src="assets/js/fastclick.js"></script>
       <script src="assets/js/jquery.slimscroll.js"></script>
       <script src="assets/js/jquery.blockUI.js"></script>
       <script src="assets/js/waves.js"></script>
       <script src="assets/js/wow.min.js"></script>
       <script src="assets/js/jquery.nicescroll.js"></script>
       <script src="assets/js/jquery.scrollTo.min.js"></script> -->

  <!-- App js -->
  <!-- <script src="assets/js/jquery.core.js"></script>
       <script src="assets/js/jquery.app.js"></script> -->

  <!-- </body> -->
  </div>
<!-- </html> -->
{% endblock %}
