<!-- DataTables -->
<!-- <link href="assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
     <link href="assets/plugins/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
     <link href="assets/plugins/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
     <link href="assets/plugins/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
     <link href="assets/plugins/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />

     <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
     <link href="assets/css/menu.css" rel="stylesheet" type="text/css" />
     <link href="assets/css/core.css" rel="stylesheet" type="text/css" />
     <link href="assets/css/components.css" rel="stylesheet" type="text/css" />
     <link href="assets/css/icons.css" rel="stylesheet" type="text/css" />
     <link href="assets/css/pages.css" rel="stylesheet" type="text/css" />
     <link href="assets/css/responsive.css" rel="stylesheet" type="text/css" /> -->

{% import 'macros/flash.html' as flash with context %}
{% extends 'layouts/app.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}Strategies{% endblock %}

{% block body %}
<!-- <body class="fixed-left"> -->
<div class="fixed-left">
  <!-- Begin page -->
  <!-- Begin page -->
  <div id="wrapper">

    {% include 'quant/page/side-menu.html' %}
    
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
      <!-- Start content -->
      <div class="content">
	<div class="container">

          <!-- <div class="row">
            <div class="col-sm-12">
              <h4 class="page-title">Strategies</h4>
            </div>
          </div> -->          
          
	  <!-- Page-Title -->
          <!-- <div class="row">
            <div class="col-sm-12">
              <div class="btn-group pull-right m-t-5 m-b-20">
                <button type="button" class="btn btn-custom dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Settings <span class="m-l-5"><i class="fa fa-cog"></i></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
              <h4 class="page-title">Datatables</h4>
            </div>
          </div> -->
          <div class="row">
            <div class="col-sm-8">
              <div class="card-box table-responsive">

                <!-- <a href="{{ url_for('quant.strategies') }}">
                  <button type="button" class="btn btn-danger waves-effect w-md waves-light m-b-5">Retrieve Strategies</button>
                </a> -->
                <!-- <h5 class="header-title m-t-0 m-b-30"> Retrieve strategies from cloud</h5> -->
                <form action="{{ url_for('quant.strategies') }}" method="post">
                   {{ form.hidden_tag() }}
                   <button type="submit" name="update" class="btn btn-custom waves-effect w-md waves-light m-b-5">Retrieve Strategies</button>
                </form>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card-box table-responsive">
                <!-- <h5 class="header-title m-t-0 m-b-30">Terminate cloud jobs</h5> -->
                <form action="{{ url_for('quant.strategies') }}" method="post">
                   {{ form.hidden_tag() }}
                   <button type="submit" name="terminate" class="btn btn-danger btn-trans waves-effect w-md waves-light m-b-5">Terminate Jobs</button>
                </form>
                
              </div>
            </div>            
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="card-box table-responsive">
                <!-- <div class="dropdown pull-right">
                  <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                  </a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </div> -->

                <!-- <h4 class="header-title m-t-0 m-b-30">Strategies</h4> -->

                <table id="datatable" class="table table-striped dt-responsive nowrap">
                  <thead>
                    <tr>
                      <!-- <th>created_on</th> -->
                      <!-- <th>id</th> -->
                      <th>strategy</th>
                      <th>status</th>
                      <th>auc</th>
                    </tr>
                  </thead>

                  <tbody>
                    {% for strategy in strategies.items %}
                    <tr>
                      <!-- <td>
                        <time data-datetime="{{ strategy.created_on }}">
                          {{ strategy.created_on }}
                      </td> -->
                      <!-- <td>
                        {{ strategy.id }}
                      </td> -->
                      <td>
                        {{ strategy.name }}
                      </td>
                      <td>
                        <!-- 'PENDING'|RUNNING'|'SUCCEEDED'|'FAILED'|'TIMED_OUT'|'ABORTED' -->
                        <!--   primary   info     success     danger    pink       warning -->
                        {% if strategy.status == 'PENDING' %}
                        <span class="label label-purple"> {{ strategy.status }} </span>
                        {% elif strategy.status == 'RUNNING' %}
                        <span class="label label-info"> {{ strategy.status }} </span>
                        {% elif strategy.status == 'SUCCEEDED' %}
                        <span class="label label-success"> {{ strategy.status }} </span>
                        {% elif strategy.status == 'FAILED' %}
                        <span class="label label-danger"> {{ strategy.status }} </span>
                        {% elif strategy.status == 'TIMED_OUT' %}
                        <span class="label label-danger"> {{ strategy.status }} </span>
                        {% elif strategy.status == 'ABORTED' %}
                        <span class="label label-pink"> {{ strategy.status }} </span>
                        {% else %}
                        <span class="label label-inverse"> {{ strategy.status }} </span>
                        {% endif %}
                      </td>
                      <td>
                        {{ strategy.auc }}
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div><!-- end col -->
          </div>
          <!-- end row -->

        </div> <!-- container -->

      </div> <!-- content -->

      <!-- <footer class="footer">
        2017 © Flacto. Design by <a href="http://coderthemes.com/" target="_blank" class="text-muted">Coderthemes</a>
      </footer> -->

    </div>
    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->

  </div>
  <!-- END wrapper -->

  <script>
    var resizefunc = [];
  </script>

  <!-- jQuery  -->
<!--   <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/detect.js"></script>
  <script src="assets/js/fastclick.js"></script>
  <script src="assets/js/jquery.slimscroll.js"></script>
  <script src="assets/js/jquery.blockUI.js"></script>
  <script src="assets/js/waves.js"></script>
  <script src="assets/js/wow.min.js"></script>
  <script src="assets/js/jquery.nicescroll.js"></script>
  <script src="assets/js/jquery.scrollTo.min.js"></script> -->

  <!-- Datatables-->
<!--  <script src="assets/plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="assets/plugins/datatables/dataTables.bootstrap.js"></script>
  <script src="assets/plugins/datatables/dataTables.buttons.min.js"></script>
  <script src="assets/plugins/datatables/buttons.bootstrap.min.js"></script>
  <script src="assets/plugins/datatables/jszip.min.js"></script>
  <script src="assets/plugins/datatables/pdfmake.min.js"></script>
  <script src="assets/plugins/datatables/vfs_fonts.js"></script>
  <script src="assets/plugins/datatables/buttons.html5.min.js"></script>
  <script src="assets/plugins/datatables/buttons.print.min.js"></script>
  <script src="assets/plugins/datatables/dataTables.fixedHeader.min.js"></script>
  <script src="assets/plugins/datatables/dataTables.keyTable.min.js"></script>
  <script src="assets/plugins/datatables/dataTables.responsive.min.js"></script>
  <script src="assets/plugins/datatables/responsive.bootstrap.min.js"></script>
  <script src="assets/plugins/datatables/dataTables.scroller.min.js"></script> -->

  <!-- Datatable init js -->
  <!-- <script src="assets/pages/jquery.datatables.init.js"></script> -->

  <!-- App js -->
  <!-- <script src="assets/js/jquery.core.js"></script>
  <script src="assets/js/jquery.app.js"></script>

  <script type="text/javascript">
    $(document).ready(function() {
    $('#datatable').dataTable();
    $('#datatable-keytable').DataTable( { keys: true } );
    $('#datatable-responsive').DataTable();
    $('#datatable-scroller').DataTable( { ajax: "assets/plugins/datatables/json/scroller-demo.json", deferRender: true, scrollY: 380, scrollCollapse: true, scroller: true } );
    var table = $('#datatable-fixed-header').DataTable( { fixedHeader: true } );
    } );
    TableManageButtons.init();

  </script> -->

</div>
{% endblock %}
