<!-- DataTables -->
<!-- <link href="assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
     <link href="assets/plugins/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
     <link href="assets/plugins/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
     <link href="assets/plugins/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
     <link href="assets/plugins/datatables/scroller.bootstrap.min.css" rel="stylesheet" type="text/css" />

     <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
     <link href="assets/css/menu.css" rel="stylesheet" type="text/css" />
     <link href="assets/css/core.css" rel="stylesheet" type="text/css" />
     <link href="assets/css/components.css" rel="stylesheet" type="text/css" />
     <link href="assets/css/icons.css" rel="stylesheet" type="text/css" />
     <link href="assets/css/pages.css" rel="stylesheet" type="text/css" />
     <link href="assets/css/responsive.css" rel="stylesheet" type="text/css" /> -->

{% import 'macros/flash.html' as flash with context %}
{% import 'macros/form.html' as f with context %}
{% import 'macros/items.html' as items %}
{% extends 'layouts/app.html' %}

{% block title %}Strategies{% endblock %}

{% block body %}
<!-- <body class="fixed-left"> -->
<div class="fixed-left">
  <!-- Begin page -->
  <!-- Begin page -->
  <div id="wrapper">

    {% include 'quant/page/side-menu.html' %}
    
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="content-page">
      <!-- Start content -->
      <div class="content">
	<div class="container">
          
          {{ flash.render() }}

          <div class="row">
            <div class="col-sm-12">
              <h4 class="page-title">Strategies</h4>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 card-box">
              <p class="text-muted m-b-30 font-13">
                Individual form controls automatically receive some global styling. All textual <code>&lt;input&gt;</code>,
                <code>&lt;textarea&gt;</code>, and <code>&lt;select&gt;</code> elements with <code>.form-control</code> are set to
                <code>width: 100%;</code> by default. Wrap labels and controls in <code>.form-group</code> for optimum spacing.
              </p>
            </div>
          </div>
          
          <div class="row">
            <form action="{{ url_for('quant.strategies') }}" method="post">            
              <div class="col-sm-8 card-box">
                {{ form.hidden_tag() }}
                <button type="submit" name="update" class="btn btn-custom waves-effect w-md waves-light">Retrieve Strategies <span><i class="fa fa-cloud-download"></i></span></button>
              </div>
              <div class="col-sm-4 card-box">
                <button type="submit" name="terminate" class="btn btn-danger btn-trans waves-effect w-md waves-light">Terminate Jobs</button>
              </div>
            </form>
          </div>
          
          <div class="row">
            <div class="col-sm-12 card-box table-responsive">
              <!-- <div class="card-box table-responsive"> -->

              {{ f.search('quant.strategies') }}
              
              {% call f.form_tag('quant.strategies_bulk_delete') %}
              <div id="bulk_actions" colspan="4">
                <div class="form-inline">
                  {{ f.field(bulk_form.scope, inline=True) }}
                  <button type="submit" name="portfolio" class="btn btn-custom waves-effect waves-light">Portfolio</button>
                  <button type="submit" name="delete" class="btn btn-danger btn-trans waves-effect waves-light">Delete</button>
                </div>
              </div>              
              
              <table id="datatable" class="table table-striped dt-responsive nowrap">
                <thead>
                  <tr>
                    <!-- <th>created_on</th> -->
                    <!-- <th>id</th> -->
                    <th>
                      <label for="select_all"></label>
                      <input id="select_all" name="select_all" type="checkbox">
                    </th>                    
                    <th  class="col-header">
                      {{ items.sort('strategy','strategy') }}
                    </th>
                    <th  class="col-header">
                      {{ items.sort('portfolio','portfolio') }}
                    </th>
                    <th  class="col-header">
                      {{ items.sort('status','status') }}
                    </th>
                    <th  class="col-header">
                      {{ items.sort('ticker','ticker') }}
                    </th>                    
                    <th class="col-header">
                      {{ items.sort('auc','auc') }}
                    </th>
                    <th class="col-header">
                      {{ items.sort('precision','precision') }}
                    </th>
                    <th class="col-header">
                      {{ items.sort('recall','recall') }}
                    </th>
                    <th class="col-header">
                      {{ items.sort('sharpe','sharpe') }}
                    </th>
                  </tr>
                </thead>
                
                <tbody>
                  {% for strategy in strategies.items %}
                  <tr>
                    <!-- <td>
                         <time data-datetime="{{ strategy.created_on }}">
                           {{ strategy.created_on }}
                    </td> -->
                    <!-- <td>
                         {{ strategy.id }}
                         </td> -->
                    <td>
                      <label for="bulk_ids"></label>
                      <input class="checkbox-item" id="bulk_ids" name="bulk_ids"
                             type="checkbox" value="{{ strategy.name }}">
                    </td>                    
                    <td>
                      {{ strategy.name }}
                    </td>
                    <td>
                      {% if strategy.portfolio == True %}
                      <span class="label label-primary">SELECTED</span>
                      {% else %}
                      <!-- <span class="label label-inverse">UNSELECTED</span> -->
                      {% endif %}
                    </td>                     
                    <td>
                      <!-- 'PENDING'|RUNNING'|'SUCCEEDED'|'FAILED'|'TIMED_OUT'|'ABORTED' -->
                      <!--   primary   info     success     danger    pink       warning -->
                      {% if strategy.status == 'PENDING' %}
                      <span class="label label-purple"> {{ strategy.status }} </span>
                      {% elif strategy.status == 'RUNNING' %}
                      <span class="label label-orange"> {{ strategy.status }} </span>
                      {% elif strategy.status == 'SUCCEEDED' %}
                      <span class="label label-success"> {{ strategy.status }} </span>
                      {% elif strategy.status == 'FAILED' %}
                      <span class="label label-danger"> {{ strategy.status }} </span>
                      {% elif strategy.status == 'TIMED_OUT' %}
                      <span class="label label-danger"> {{ strategy.status }} </span>
                      {% elif strategy.status == 'ABORTED' %}
                      <span class="label label-pink"> {{ strategy.status }} </span>
                      {% else %}
                      <span class="label label-inverse"> {{ strategy.status }} </span>
                      {% endif %}
                    </td>
                    <td>
                      {{ strategy.ticker }}
                    </td>                    
                    <td>
                      {{ strategy.auc }}
                    </td>
                    <td>
                      {{ strategy.precision }}
                    </td>
                    <td>
                      {{ strategy.recall }}
                    </td>
                    <td>
                      {{ strategy.sharpe }}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% endcall %}
              {{ items.paginate(strategies) }}
              <!-- </div> -->
            </div><!-- end col -->
          </div>
          <!-- end row -->
        </div> <!-- container -->
      </div> <!-- content -->

      <!-- <footer class="footer">
        2017 © Flacto. Design by <a href="http://coderthemes.com/" target="_blank" class="text-muted">Coderthemes</a>
      </footer> -->

    </div>
    <!-- ============================================================== -->
    <!-- End Right content here -->
    <!-- ============================================================== -->

  </div>
  <!-- END wrapper -->

  <script>
    var resizefunc = [];
  </script>

  <!-- jQuery  -->
<!--   <script src="assets/js/jquery.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/detect.js"></script>
  <script src="assets/js/fastclick.js"></script>
  <script src="assets/js/jquery.slimscroll.js"></script>
  <script src="assets/js/jquery.blockUI.js"></script>
  <script src="assets/js/waves.js"></script>
  <script src="assets/js/wow.min.js"></script>
  <script src="assets/js/jquery.nicescroll.js"></script>
  <script src="assets/js/jquery.scrollTo.min.js"></script> -->

  <!-- Datatables-->
<!--  <script src="assets/plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="assets/plugins/datatables/dataTables.bootstrap.js"></script>
  <script src="assets/plugins/datatables/dataTables.buttons.min.js"></script>
  <script src="assets/plugins/datatables/buttons.bootstrap.min.js"></script>
  <script src="assets/plugins/datatables/jszip.min.js"></script>
  <script src="assets/plugins/datatables/pdfmake.min.js"></script>
  <script src="assets/plugins/datatables/vfs_fonts.js"></script>
  <script src="assets/plugins/datatables/buttons.html5.min.js"></script>
  <script src="assets/plugins/datatables/buttons.print.min.js"></script>
  <script src="assets/plugins/datatables/dataTables.fixedHeader.min.js"></script>
  <script src="assets/plugins/datatables/dataTables.keyTable.min.js"></script>
  <script src="assets/plugins/datatables/dataTables.responsive.min.js"></script>
  <script src="assets/plugins/datatables/responsive.bootstrap.min.js"></script>
  <script src="assets/plugins/datatables/dataTables.scroller.min.js"></script> -->

  <!-- Datatable init js -->
  <!-- <script src="assets/pages/jquery.datatables.init.js"></script> -->

  <!-- App js -->
  <!-- <script src="assets/js/jquery.core.js"></script>
  <script src="assets/js/jquery.app.js"></script>

  <script type="text/javascript">
    $(document).ready(function() {
    $('#datatable').dataTable();
    $('#datatable-keytable').DataTable( { keys: true } );
    $('#datatable-responsive').DataTable();
    $('#datatable-scroller').DataTable( { ajax: "assets/plugins/datatables/json/scroller-demo.json", deferRender: true, scrollY: 380, scrollCollapse: true, scroller: true } );
    var table = $('#datatable-fixed-header').DataTable( { fixedHeader: true } );
    } );
    TableManageButtons.init();

  </script> -->

</div>
{% endblock %}
