{% extends 'layouts/app.html' %}
{% import 'macros/form.html' as f with context %}

{% block title %}TurboQuant{% endblock %}
{% block meta_description %}Lorem Ipsum.{% endblock %}

{% block body %}

<canvas id="particler-instance"></canvas>
<!-- <div class="maintitle row text-center lg-margin-bottom" style="margin-left: 0; background-color: #f5f5f5;"> -->
<! try darker background -->
<div class="maintitle row text-center lg-margin-bottom" style="margin-left: 0; background-color: #2dd7ff;"> <!-- #333333 -->
  <h1 class="font-bold" style="font-size: 48px; color: #333333;">Lorem Ipsum</h1> <!-- #2dd7ff -->
  <!-- <h3 class="text-muted"> -->
  <h3 style="color: white;">
    Lorem ipsum dolor sit amet
  </h3>
</div>

<div class="container">
  <div class="row" style="margin-bottom: 80px;">
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <h3>Lorem ipsum dolor sit amet</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
    <div class="col-md-4">
      <img src="{{ url_for('static', filename='images/web01_data.png') }}"
           class="img-responsive" style="float:right;"
           title="Auto AI Strategies" alt="Auto AI Strategies"/>
    </div>
    <div class="col-md-1"></div>    
  </div>
  
  <hr style="margin-left:30px;margin-right:30px">
  <div class="row" style="margin-bottom: 80px;">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <img src="{{ url_for('static', filename='images/web02_ml.png') }}"
           class="img-responsive" style="float:left;"
           title="Hidden Patterns" alt="Hidden Patterns"/>
    </div>
    <div class="col-md-6">
      <h3>Lorem ipsum dolor sit amet.</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
    <div class="col-md-1"></div>
  </div>
  
  <hr style="margin-left:30px;margin-right:30px">
  <div class="row" style="margin-bottom: 80px;">
    <div class="col-md-1"></div>
    <div class="col-md-6">
      <h3>Lorem ipsum dolor sit amet.</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
    <div class="col-md-4">
      <img src="{{ url_for('static', filename='images/web03_strategies.png') }}"
	   class="img-responsive" style="float:right;"
	   title="Browser Access" alt="Browser Access"/>
    </div>
    <div class="col-md-1"></div>
  </div>

   <hr style="margin-left:30px;margin-right:30px">
  <div class="row" style="margin-bottom: 80px;">
    <div class="col-md-1"></div>
    <div class="col-md-4">
      <img src="{{ url_for('static', filename='images/web04_cloud.png') }}"
           class="img-responsive" style="float:left;"
           title="Hidden Patterns" alt="Hidden Patterns"/>
    </div>
    <div class="col-md-6">
      <h3>Lorem ipsum dolor sit amet.</h3>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
    <div class="col-md-1"></div>
  </div>
  
</div> <!-- container -->

<div class="row" style="background-color: #fbca35;">
  <div class="col-md-3" style="margin-top: 15px"><h3 style="margin-left: 80px;color: #00dd99">Keep me posted!</h3></div> <!-- success #3ec845,primary #4667cc -->
  <div class="col-md-6"> <!-- #fe6271 -->
    {% call f.form_tag('page.home') %}
      {% call f.form_group(form.email, css_class='sm-margin-bottom',
        autofocus='autofocus',
        placeholder='Enter your email address to receive updates') %}
      {% endcall %}
    {% endcall %}
  </div>
  <div class="col-md-1">
    <button type="submit" class="btn btn-custom" style="margin-top: 22px">
      Subscribe
    </button>
  </div>
</div>

<div class="row" style="margin-bottom: 10px;margin-top: 140px;background-color: #f5f5f5; padding-top: 20px; padding-bottom: 40px">
  <div class="col-md-1"></div>
  <div class="col-md-6">
    <h4 class="turboquant" style="color: #444;margin-left: 0px; margin-right: 5px; display: inline;">turboquant</h4> <!-- dark #333; custom #2dd7ff -->
    <span style="color: #fbca35;"><b>beta</b></span>
  </div>
  <div class="col-md-5" style="margin-top: 10px;">
    <table class="menu">
      <tbody>
        <tr>
          <td><a href="{{ url_for('page.privacy') }}"><b>Pricing</b></a></td>
          <td><a href="{{ url_for('page.privacy') }}"><b>FAQ</b></a></td>
          <td><b>About</b></td>
          <td><b>Legal</b></td>          
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td><a href="{{ url_for('page.terms') }}">Team</a></td>          
          <td><a href="{{ url_for('page.terms') }}">Terms of Service</a></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td><a href="{{ url_for('page.terms') }}">Contact</a></td>  <!-- pop up email to info@turboquant.com -->         
          <td><a href="{{ url_for('page.privacy') }}">Privacy Policy</a></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
      </tbody>
    </table>
  </div>
</div>
<div class="row" style="margin-bottom: 80px;margin-top: 60px;">  
  <div class="col-md-2"></div>

  <!-- <div class="col-md-6">
    <table class="menu">
      <tbody>
        <tr>
          <td><a href="{{ url_for('page.privacy') }}"><b>Pricing</b></a></td>
          <td><a href="{{ url_for('page.privacy') }}"><b>FAQ</b></a></td>
          <td><a href="{{ url_for('page.privacy') }}"><b>About</b></a></td>
          <td><b>Legal</b></td>          
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>          
          <td style="font-size: smaller"><a href="{{ url_for('page.terms') }}">Terms of Service</a></td>
        </tr>
        <tr>
          <td></td>
          <td></td>
          <td></td>          
          <td style="font-size: smaller"><a href="{{ url_for('page.privacy') }}">Privacy Policy</a></td>
        </tr>
      </tbody>
    </table> 
  </div> -->
  
  <!-- <div class="col-md-2">
    <div><b>Legal</b></div>
    <div style="font-size: smaller">
      <a href="{{ url_for('page.terms') }}">Terms of Service</a>
    </div>
    <div style="font-size: smaller">
      <a href="{{ url_for('page.privacy') }}">Privacy Policy</a>
    </div>
  </div>    
  <div class="col-md-1">
    <a href="{{ url_for('page.privacy') }}"><b>Pricing</b></a>
  </div>
  <div class="col-md-1">
    <a href="{{ url_for('page.privacy') }}"><b>FAQ</b></a>
  </div>
  <div class="col-md-1">
    <a href="{{ url_for('page.privacy') }}"><b>About</b></a>
  </div>
  <div class="col-md-1"></div> -->
  


{% endblock %}
